/*Jhat's Side box*/
div.jhat-box.jhat-transparent.jhat-radius
    div.jhat-header.jhat-bg
        div.jhat-banner
            span Jhat
            ul.jhat-icon.jhat-tr-radius
                li.jhat-icon-item.jhat-icon-hide

        div.jhat-sum
            img.jhat-avatar-large(src='/img/avatar/#{user._id}#{user.extName}')
            div.jhat-sum-inner
                div.jhat-nickname=user.name 
                span.jhat-status
                input.jhat-signature(value='#{user.signature || ''}', title='#{user.signature || ''}')

    div.jhat-list-content.jhat-scroll
        ul.jhat-contact-list.jhat-scroll-inner
            -friends.forEach(function(friend) {
                li.jhat-contact-item.jhat-radius(_id='#{friend._id}', data-info=friend)
                    img.jhat-contact-avatar(src='/img/avatar/#{friend._id}#{friend.extName}')
                    span.jhat-contact-name: a #{friend.name}
            -});

/* A button for showing the box*/
div.jhat-show.jhat-transparent.jhat-tl-radius.jhat-bl-radius.jhat-transtion
/* Message dialogue, to chat with a firend, for displaying the message */
/* and typing message*/
div.jhat-dialogue.jhat-transparent.jhat-radius
    div.jhat-header.jhat-bg
        div.jhat-banner
            ul.jhat-icon.jhat-tr-radius
                li.jhat-icon-item.jhat-icon-hide

        div.jhat-sum
            img.jhat-avatar-large(src='/img/avatar/#{user._id}#{user.extName}')
            div.jhat-sum-inner
                div.jhat-nickname khhhshhh
                span.jhat-status
                div.jhat-signature(title='#{user.signature || ''}') #{user.signature || ''}
    div.jhat-display.jhat-scroll
        ul.jhat-records.jhat-scroll-inner
    div.jhat-type
        textarea.jhat-bl-radius.jhat-br-radius

li.jhat-record-item.jhat-record-other.jhat-hidden
    img.jhat-contact-avatar(src='', alt='他的头碎了')
    p.jhat-radius
li.jhat-record-item.jhat-record-self.jhat-hidden
    img.jhat-contact-avatar(src='', alt='他的头碎了')
    p.jhat-radius
